@{ 
    var timeUtc = DateTime.UtcNow;
    var x = TimeZoneInfo.GetSystemTimeZones();
    TimeZoneInfo easternZone = TimeZoneInfo.FindSystemTimeZoneById("Eastern Standard Time");
    DateTime easternTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, easternZone);
    TimeZoneInfo pacificZone = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");
    DateTime pacificTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, pacificZone);
    TimeZoneInfo centralZone = TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time");
    DateTime centralTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, centralZone);
    TimeZoneInfo mountainZone = TimeZoneInfo.FindSystemTimeZoneById("Mountain Standard Time");
    DateTime mountainTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, mountainZone);
    TimeZoneInfo indianZone = TimeZoneInfo.FindSystemTimeZoneById("India Standard Time");
    DateTime indianTime = TimeZoneInfo.ConvertTimeFromUtc(timeUtc, indianZone);
}

<!DOCTYPE html>
<html style="" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/%40microsoft/mgt/dist/bundle/mgt-loader.js"></script>
    

    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Segoe UI", sans-serif
        }
    </style>
    <title>@ViewBag.Title - 1Destiny</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="w3-light-grey">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #b9e6a7; border-color: lightgray">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Project 1Destiny", "Index", "Home", new { area = "" }, new { @class = "navbar-brand",@style= "color:black;font-weight:500" })
            </div>
            <div class="navbar-collapse collapse">
               
                <div class="navbar-collapse collapse" style="float: right; margin-right: 1%; font-weight: 500; ">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="~/Area code Finder.xlsx" style="color: black;">Area code Finder</a>
                        </li>
                    </ul>

                </div>
                <div class="navbar-collapse collapse" style="float: right; margin-right: 8%;">
                    <ul class="nav navbar-nav">
                        <li>
                            <input type="number" id="caseno" style="max-width: 77%; height: 38px;" placeholder="Enter case number" min="0" max="9999999999999999"/>
                            <input type="button" id="ok" value="OK" style="width: auto; height: 41px; border-radius: 7px; background: #2196F3; color: white;">
                        </li>
                    </ul>
                    
                </div>
                <div class="w3-dropdown-hover" style="left: 60%;">
                    <ul class="nav navbar-nav hovermenu" style="float: right; margin-right: -43%;">
                        <li>
                            <a style="color: black; font-weight: 500;"><i class="fa fa-globe"></i>&nbsp; World clock</a>
                            <div class="w3-dropdown-content w3-bar-block w3-border" style="overflow: auto; border-radius: 10px; padding: 6px 6px;">
                                <div style="width: 340px; max-height: 340px;">
                                    <table>
                                        <tr><td>&nbsp; <b>EST</b></td><td> :</td> <td>@easternTime.ToString("dd-MMM hh:mm tt")</td></tr>
                                        <tr><td>&nbsp; <b>PST</b></td><td> :</td> <td>@pacificTime.ToString("dd-MMM hh:mm tt")</td></tr>
                                        <tr><td>&nbsp; <b>CST</b></td><td> :</td> <td>@centralTime.ToString("dd-MMM hh:mm tt")</td></tr>
                                        <tr><td>&nbsp; <b>MST</b></td><td> :</td> <td>@mountainTime.ToString("dd-MMM hh:mm tt")</td></tr>
                                        <tr><td>&nbsp; <b>IST</b></td><td> :</td> <td>@indianTime.ToString("dd-MMM hh:mm tt")</td></tr>
                                    </table>
                                    <hr />
                                    <table>
                                        @foreach (var item in TimeZoneInfo.GetSystemTimeZones())
                                        {
                                            <tr><td><b>@item.StandardName </b></td><td>:</td><td style="width: 37%">@TimeZoneInfo.ConvertTimeFromUtc(timeUtc, TimeZoneInfo.FindSystemTimeZoneById(item.Id)).ToString("dd-MMM hh:mm tt")</td></tr>
                                        }
                                    </table>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
        <br>
        @*<div class="w3-container w3-row">
            <div class="w3-col s4">
                <img src="https://images.unsplash.com/photo-1628334453476-48b1a4c0529a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=80" class="w3-circle w3-margin-right" style="width:46px">
            </div>
            <div class="w3-col s8 w3-bar">
                <span>Welcome, <strong> @System.Security.Principal.WindowsIdentity.GetCurrent().Name</strong></span><br>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
            </div>
        </div>
        <hr>*@

        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp; Close Menu</a>
            <a href="/Home/Dashboard" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>&nbsp; Dashboard</a>
            <a href="/" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>&nbsp; New DDX</a>
            <a href="#" id="quickAssist" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>&nbsp; Quick Assist</a>
            <a href="/Home/Resources" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw"></i>&nbsp; Resources</a>
            <a href="/Home/Tools" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>&nbsp; Tools Documentation</a>
            <a href="/Home/SDK" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>&nbsp; Teams SDK</a>
            <br><br>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script type="text/javascript">
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        $("#ok").click(function () {
            document.title = $("#caseno").val() + " - 1Destiny";
        });

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
        $("#quickAssist").click(function () {
            $.ajax({
                url: "/Home/QuickAssist", success: function (result) {
                    //console.log("quick assist open");
                },
                failure : function () {
                    console.log("not open");
                }
            });
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
